:root{
   
    --color-texto :#000000;
    --fondo: #FFFFFF;
    --olmecacolor : #009540;
}

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header{
    height: 100px;
    background: var(--fondo);
    padding: 0 50px;
    color: var(--color-texto);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*precios*/

#price-table {
    margin-top: -20px;
    width: 100%;
    border-collapse: collapse;
  }
  
  #price-table th,
  #price-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  #price-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #price-table th {
    background-color: #4CAF50;
    color: white;
  }


.menu a{
    color: var(--color-texto);
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
font-size: 30px;
cursor: pointer;
display: none;
transition: 0.4s;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: var(--olmecacolor)
}

#check{
    display: none;

}

#banner{
    margin-left: 10px;
   max-width: 210vh;
    padding: 20px 50px 20px 50px;
    height: 40vh;
    background-size:cover;
    background-position: center;
}


#banner::before{
    content: '';
 
    position: absolute;
    width: 100%;
    height: 45vh;
    left:0;
}

.contenido-banner{
    position: relative;
    color: var(--color-texto);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido-banner h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0;

}

.contenido-banner h3 span{
    font-weight: 600;
}

.boton-empezar{
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid var(--olmecacolor);
    padding: 20px 40px;
    align-self: baseline;
    transition: all 0.4s; 
}

.boton-empezar:hover{
    background: var(--olmecacolor)
}

/*personas*/
#personas{
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}
#personas img{
  
    max-width: 768px;
    height: 512px;
}
#personas div{
    padding: 30px 30px;
}

#personas div h4{
    color: var(--color-texto);
    font-size: 20px;
    margin: 15px 0px;
}
#personas div p{
    color: var(--color-texto);
    font-size: 18px;
}
.boton-saber-mas{
    display: inline-block;
    text-decoration: none;
    color: rgb(54, 172, 132);
    padding: 10px 30px;
    border: 3px solid var(--olmecacolor);
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s;

}

.boton-saber-mas:hover{
    background:var(--olmecacolor);
    color: #FFFFFF;
}


/* ICONOS */

#iconos {
    padding: 0px 50px;
    background: #212121;
}
.contenido-iconos{
    padding: 50px 50px 0 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.contenido-iconos div{
    flex: 1;
    margin: 20px 0px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);

}

#icono-mobile{
    border: none;
}

.contenido-iconos div i{
    color: rgb(54, 172, 132);

}

.contenido-iconos div h6{
    color: var(--color-texto);
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0px;
}
.contenido-iconos div p{
    color: rgba(255, 255, 255, 0.55);
    font-size: 15px;
}

.boton-iconos{
    text-align: center;
    padding-bottom: 50px;
}


/*FORMULARIO*/

#contacto{
    
    text-align: center;
    padding: 50px 50px;
    background-color: var(--olmecacolor);
    color: var(--color-texto);
}

#contacto h4{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;

}

#contacto form{
    max-width: 80%;
    margin: 0 auto;
}

.datos-form{
    display: flex;
}
.datos-form div{
    padding: 10px;
    flex: 1;
}

form label{
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea{
    background-color: var(--olmecacolor);
    border-radius: 10px;
    border: 2px solid #8dcca9;
    padding: 10px 5px;
    outline: 0;
    color: #FFFFFF;
    width: 100%;
}

form input:focus,
form textarea:focus{
    border-color: #4bae77;
    box-shadow: 0 0 0 1px #4bae77;

}

form input::placeholder,
form textarea::placeholder{
    color:var(--color-texto) ;

}

.mensaje{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.boton-formulario .boton-saber-mas{
    display: block;
    border: 1px solid #FFFFFf;
    color: #ffffff;
    text-align: center;
    transition: 0.4s;
}

.boton-formulario .boton-saber-mas:hover{
    background: #4fa776ad;
}

.datos-form{
    flex-direction: column;
}
/* RESPONSIVO*/

@media (max-width: 1200px) {
    .mostrar-menu{
        display: block;
        margin-right: 0px;
    }
    .esconder-menu{
        display: block;
        margin-right: 80px;
    }
  

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--fondo);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu a{
        display: block;
        padding: 20px;
        margin-left: -90px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;

    }
    #check:checked ~ .menu{
        right: 0;
    }


    #personas{
        padding: 50px 50px;
        margin-left: -80px;
        display: flex;
        justify-content: center;
        text-align: center;
        
    }
    #banner{
    padding: 0 -50px;
    background-image: url(img/Imagen3.png);
    height: 20vh;
    background-size:contain;
    background-position: center;
}

#price-table{
    font-size: 13px;
}


}
@media (max-width:768px) { 
    #banner{
        margin-left: 10px;
       max-width: 320px;
        padding: 0 45px;
        background-image: url(img/Imagen3.png);
        height: 20vh;
        background-size:cover;
        background-position: center;
    }
    /*HEADER*/
     body{
        margin-left: 7%;
        margin-right: 8%;
    }
    .mostrar-menu{
        display: flex;
        margin-right: 30px;
    }
    .esconder-menu{
        display:flex;
        margin-right: 100px;
    }
    .menu{
        position: fixed;
        width: 90%;
        height: 90vh;
        background-color: var(--fondo);
        right: -100%;
        top: 0;
        text-align: right;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;

    }
    #check:checked ~ .menu{
        right: 0;
    }

    /*PERSONAS*/
    #personas{
        flex-direction: column;

    }
    #personas img{
  margin-left: 10px;
        max-width: 340px;
        height: 340px;
    }

    /*ICONOS*/
    .contenido-iconos{
        flex-direction: column;
    }
    .contenido-iconos div{
        border: none;
    }
    /*FORMULARIO*/
    .datos-form{
        flex-direction: column;
    }
    #price-table{
        font-size: 13px;
        margin-left: 20px;
    }
    

}



